.bg-coin {
    width: 19px; height: 20px;
    background: url('./src/styles/sprites/sprite.png') -92px -34px;
}

.bg-line {
    width: 127px; height: 4px;
    background: url('./src/styles/sprites/sprite.png') -10px -10px;
}

.bg-nurse {
    width: 20px; height: 18px;
    background: url('./src/styles/sprites/sprite.png') -10px -76px;
}

.bg-programmer {
    width: 20px; height: 20px;
    background: url('./src/styles/sprites/sprite.png') -52px -34px;
}

.bg-teacher {
    width: 22px; height: 22px;
    background: url('./src/styles/sprites/sprite.png') -10px -34px;
}
